body{
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
}
a{/*selector 선택자*/
    color:black;
    text-decoration: none; /*장식을 없앤다*/
}
h1{
    font-size:45px;
    border-bottom: 1px solid gray;
    text-align: center;
    margin:0px;
    padding:20px;
}
ul{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ul{
    padding-left: 33px;
}
#grid #article{
    padding-left: 25px;
}
@media(max-width:800px){
    #grid{
        display: block;
    }
    ul{
        border-right: none;
        display: block;
    }
    h1{
        border-bottom: none;
    }
}